.card {
    flex-grow: 1;
    cursor: grab;
}

.card:nth-last-child(-n+9) {
    flex-grow: 0;
}

.card:hover {
    background: rgba(0, 0, 0, 0.7);
    .card-img-top {
        opacity: 0.3;
    }

    .overlay {
        opacity: 1;
    }
}

.dragging {
    cursor: grabbing;
}

.overlay {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    opacity: 0;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.card-img-top {
    width: auto;
    height: 150px;
    min-width: 101px;
}

.image-button {
    background: none;
    border: none;
    font-size: 100%;
    border: 1px solid;
    padding-bottom: 0;
    border-radius: 30%;
    cursor: pointer;
}

.image-button:focus {
    outline: none;
}

.expand:hover {
    color: rgb(0, 81, 255);
    background-color: rgba(84, 111, 201, 0.623);
}

.like:hover {
    color: rgb(192, 56, 56);
    background-color: rgba(155, 89, 89, 0.623);
}

.liked {
    color: rgb(192, 56, 56);
    background-color: rgba(155, 89, 89, 0.623);
}

.flip:hover {
    color: rgb(50, 156, 76);
    background-color: rgba(78, 134, 82, 0.623);
}

.flipped {
    transform: scaleX(-1);
}

.fas {
    user-select: none;
}

.card-img-top {
    user-select: none;
}