.modal {
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    overflow: hidden;
    position: fixed;
}

.show {
    display: block;
}

.modal-image {
    background-color: white;
    height: 80vh;
    margin: 5% auto auto auto;
}

.close-button {
    position: absolute;
    color: rgb(100, 100, 100);
    top: 2%;
    right: 2%;
    cursor: pointer;
    font-size: 2em;
}

.close-button:hover {
    color: rgb(161, 161, 161);
}

.no-scroll {
    overflow: hidden;
}